/*************************************************************/
/**************************global*****************************/
/*************************************************************/
body{
	padding:0;
	margin:0;
}
img{
	border:none;
}
h1{
	margin:0;
	padding:0;
	color:#1C72ED;
	font-size:6vw;
}/*film*/
h2{
	margin:0;
	padding:0;
	color:#00BA66;
	font-size:5vw;
}/*item*/
h5{
	margin:0;
	padding:0;
	font-weight:normal;
	font-size:3vw;
}/*mail item*/
/*************************************************************/
/***************************head******************************/
/*************************************************************/
#headlogo{
	width:9%;
	float:left;
	align:center;
}
#headlogo img{
	width:66%;
	padding-top:2vw;
	padding-left:3vw;
	padding-bottom:1vw;
}
#nav{
	background-color:white;
	width:80%;
	padding-top:2vw;
	padding-bottom:1vw;
}
#nav ul{
	margin: 0 0 0 1vw;
	padding:0vw;
	font-size:2vw;
	color:black;
	line-height:6vw;
	white-space: nowrap;
}
#nav li{
	list-style-type:none;
	display:inline;
}
#nav li a{
	text-decoration:none;
	font-family:SimSun, STZhongsong, KaiTi_GB2312, Microsoft YaHei;
	font-size:3vw;
	padding: 2vw 0vw 0vw 5vw;
	font-weight:bold;
	color:black;
}
#nav li a:hover {
	color:gray;
	background-color:white;
}
/*************************************************************/
/**************************banner*****************************/
/*************************************************************/
#banner{
	padding-left:1.5vw;
	padding-right:1.5vw;
}
#bannerimg0{
	background-image:url(../images/mobbanner.jpg);
	background-repeat: no-repeat;
	background-position:center center;
	background-size: cover;
	width:100%;
	height:130vw;
}
#bannerimg1{
	background-image:url(../images/banner1mob.jpg);
	background-repeat: no-repeat;
	background-position:center center;
	background-size: cover;
	width:100%;
	height:130vw;
}
#bannerimg{
	background-image:url(../images/mobbanner.jpg);
	background-repeat: no-repeat;
	background-position:center center;
	background-size: cover;
	width:100%;
	height:70vw;
}
/*************************************************************/
/***************************text******************************/
/*************************************************************/
.text0{
	font-family: STZhongsong, SimSun, KaiTi_GB2312, Microsoft YaHei;
	font-size:3vw;
	text-align:center;
}
.text1{
	font-family: STZhongsong, SimSun, KaiTi_GB2312, Microsoft YaHei;
	font-size:4.5vw;
	text-align:center;
}
.text2{
	font-family: STZhongsong, SimSun, KaiTi_GB2312, Microsoft YaHei;
	font-size:3.5vw;
	text-align:center;
}
.text3{
	font-family: STZhongsong, SimSun, KaiTi_GB2312, Microsoft YaHei;
	font-size:2.5vw;
	text-align:center;
}
.text4{
	font-family: STZhongsong, SimSun, KaiTi_GB2312, Microsoft YaHei;
	font-size:2vw;
	text-align:center;
}
/*************************************************************/
/***************************foot******************************/
/*************************************************************/
#foot{
	background-color:#323E4C;
}
#footdevwidth{
	margin:0 auto;
	width:100%;
}
#foot p{
	font-family:SimSun, STZhongsong, KaiTi_GB2312, Microsoft YaHei;
	font-size:3vw;
	text-align:center;
}
/*************************************************************/
/************************indexblock***************************/
/*************************************************************/
#indexb1{
	width:100%;
	background-color:white;
}
#indexb1img{
	background:url(../images/index1mob.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:79vw;
}
#indexb2{
	width:100%;
	background-color:white;
}
#indexb2img{
	background:url(../images/index2.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:79vw;
}
#indexb3{
	width:100%;	
	background-color:white;
}
#indexb3img{
	background:url(../images/index3mob.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:79vw;
}
#indexb4{
	width:100%;
	background-color:white;
}
#indexb4img{
	background:url(../images/index4mob.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:79vw;
}
/*************************************************************/
/*************************edublock****************************/
/*************************************************************/
#educhoose{
	margin:0 auto;
	width:38%;
}
#educhoosel{
	folat:left;
}
#educhooseimg{
	background:url(../images/educhoose.png);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:5vw;
	height:5vw;
}
#educhooser{
	folat:left;
}
.edui{
	width:100%;
	height:90vw;
	float:left;
	background-color:white;
}
.eduw{
	display:none;
}
.edumw{
	width:90%;
	margin:0 auto;
	background-color:white;
}
.edupcblockfirst{
	width:100%;
	height:14vw;
}
.edupcblock{
	width:100%;
	height:17vw;
}
#edub1img{
	background:url(../images/edu1.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:90vw;
}
#edub2img{
	background:url(../images/edu2.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:90vw;
}
#edub3img{
	background:url(../images/edu3.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:90vw;
}
#edub4img{
	background:url(../images/edu4.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:90vw;
}
#edub5img{
	background:url(../images/edu5.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:90vw;
}
#edub6img{
	background:url(../images/edu6.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:90vw;
}
#edub7img{
	background:url(../images/edu7.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:90vw;
}
#edub8img{
	background:url(../images/edu8.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:90vw;
}
#edub9img{
	background:url(../images/edu9.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:90vw;
}
#edub10img{
	background:url(../images/edu10.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:90vw;
}
#edub11img{
	background:url(../images/edu11.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:90vw;
}
#edub12img{
	background:url(../images/edu12.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:90vw;
}
/*************************************************************/
/***************************film******************************/
/*************************************************************/
#filmwidth{
	margin:0 auto;
	width:80%;
}
/*************************************************************/
/***************************mail******************************/
/*************************************************************/
.mailleft{
	width:25%;
	float:left;
	background-color:white;
}
.mailright{
	width:65%;
	float:left;
	background-color:white;
}
.mailp{
	font-family: STZhongsong, SimSun, KaiTi_GB2312, Microsoft YaHei;
	font-size:3vw;
}
.mailitemlogo{
	width:10%;
	float:left;
}
/*************************************************************/
/***************************class*****************************/
/*************************************************************/
.blank6{
	background-color:#EFEFEF;
	width:100%;
	height:6vw;
}
.blank1{
	background-color:#EFEFEF;
	width:100%;
	height:1vw;
}
.mobblank0{
	background-color:#EFEFEF;
	width:100%;
	height:1vw;
}
.mobblank{
	background-color:white;
	width:100%;
	height:3vw;
}
.blank{
	background-color:white;
	width:100%;
	height:3vw;
}
.verblank{
	width:10%;
	float:left;
	background-color:white;
}
.block{
	margin:0 auto;
	width:90%;
	background-color:#EFEFEF;
}
/*************************************************************/
/*************************deprecated**************************/
/*************************************************************/
/*
#imgdown{
	padding-top:2vw;
}
.edublank{
	background-color:white;
}
.edu1{
	background-color:white;
}
.edu2{
	background-color:white;
}
.edu3{
	background-color:white;
}*/
