/*************************************************************/
/**************************global*****************************/
/*************************************************************/
body{
	padding:0;
	margin:0;
}
img{
	border:none;
}
h1{
	margin:0;
	padding:0;
	color:#1C72ED;
	font-size:3vw;
}/*film*/
h2{
	margin:0;
	padding:0;
	color:#00BA66;
	font-size:2.5vw;
}/*item*/
h5{
	margin:0;
	padding:0;
	font-weight:normal;
	font-size:1.5vw;
}/*mail item*/
/*************************************************************/
/***************************head******************************/
/*************************************************************/
#headlogo{
	width:30%;
	float:left;
}
#headlogo img{
	width:8%;
	float:right;
	padding-top:0.5vw;
	padding-bottom:0.5vw;
}
#nav{
	background-color:white;
	width:60%;
	padding-top:0.6vw;
	padding-bottom:0.4vw
}
#nav ul{
	margin: 0 0 0 3vw;
	padding: 0vw;
	font-size: 1vw;
	color:black;
	line-height: 2vw;
	white-space: nowrap;
}
#nav li{
	list-style-type:none;
	display:inline;
}
#nav li a{
	text-decoration:none;
	font-family:SimSun, STZhongsong, KaiTi_GB2312, Microsoft YaHei;
	font-size:1vw;
	padding: 1vw 0vw 0vw 4vw;
	font-weight:bold;
	color:black;
}
#nav li a:hover {
	color:gray;
	background-color:white;
}
/*************************************************************/
/**************************banner*****************************/
/*************************************************************/
#banner{
	padding-left:1.5vw;
	padding-right:1.5vw;
}
#bannerimg0{
	background-image:url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-position:center center;
	background-size:cover;
	width:100%;
	height:39vw;
}
#bannerimg1{
	background-image:url(../images/banner1.jpg);
	background-repeat: no-repeat;
	background-position:center center;
	background-size:cover;
	width:100%;
	height:39vw;
}
#bannerimg{
	background-image:url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-position:center center;
	background-size:cover;
	width:100%;
	height:24vw;
}
/*************************************************************/
/***************************text******************************/
/*************************************************************/
.text0{
	font-family: STZhongsong, SimSun, KaiTi_GB2312, Microsoft YaHei;
	font-size:1vw;
	text-align:center;
}
.text1{
	font-family: STZhongsong, SimSun, KaiTi_GB2312, Microsoft YaHei;
	font-size:1.2vw;
	text-align:center;
}
.text2{
	font-family: STZhongsong, SimSun, KaiTi_GB2312, Microsoft YaHei;
	font-size:2vw;
	text-align:center;
}
.text3{
	font-family: STZhongsong, SimSun, KaiTi_GB2312, Microsoft YaHei;
	font-size:1.5vw;
	text-align:center;
}
.text4{
	font-family: STZhongsong, SimSun, KaiTi_GB2312, Microsoft YaHei;
	font-size:1.2vw;
	text-align:center;
}
/*************************************************************/
/***************************foot******************************/
/*************************************************************/
#foot{
	background-color:#323E4C;
}
#footdevwidth{
	margin:0 auto;
	width:40%;
}
#foot p{
	font-family:SimSun, STZhongsong, KaiTi_GB2312, Microsoft YaHei;
	font-size:1vw;
	text-align:center;
}
/*************************************************************/
/************************indexblock***************************/
/*************************************************************/
#indexb1{
	width:66%;
	height:25vw;
	float:left;
	background-color:white;
}
#indexb1img{
	background:url(../images/index1.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:17vw;
}
#indexb2{
	width:33%;
	height:25vw;
	float:right;
	background-color:white;
}
#indexb2img{
	background:url(../images/index2.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:17vw;
}
#indexb3{
	width:33%;
	height:26vw;
	float:left;
	background-color:white;
}
#indexb3img{
	background:url(../images/index3.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:17vw;
}
#indexb4{
	width:66%;
	height:26vw;
	float:right;
	background-color:white;
}
#indexb4img{
	background:url(../images/index4.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:17vw;
}
/*************************************************************/
/*************************edublock****************************/
/*************************************************************/
#educhooseimg{
	background:url(../images/educhoose.png);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:3vw;
	height:3vw;
}
#eduboatimg{
}
.edui{
	width:50%;
	height:30vw;
	float:left;
	background-color:white;
}
.eduw{
	width:50%;
	height:30vw;
	float:left;
	background-color:white;
}
.edumw{
	display:none;
}
.edupcblockfirst{
	width:100%;
	height:10vw;
}
.edupcblock{
	width:100%;
	height:12vw;
}
#edub1img{
	background:url(../images/edu1.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:30vw;
}
#edub2img{
	background:url(../images/edu2.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:30vw;
}
#edub3img{
	background:url(../images/edu3.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:30vw;
}
#edub4img{
	background:url(../images/edu4.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:30vw;
}
#edub5img{
	background:url(../images/edu5.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:30vw;
}
#edub6img{
	background:url(../images/edu6.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:30vw;
}
#edub7img{
	background:url(../images/edu7.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:30vw;
}
#edub8img{
	background:url(../images/edu8.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:30vw;
}
#edub9img{
	background:url(../images/edu9.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:30vw;
}
#edub10img{
	background:url(../images/edu10.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:30vw;
}
#edub11img{
	background:url(../images/edu11.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:30vw;
}
#edub12img{
	background:url(../images/edu12.jpg);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:30vw;
}
#edub13img{
	background:url(../images/edu13.png);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:30vw;
}
#edub14img{
	background:url(../images/edu14.png);
	background-repeat: no-repeat;
	background-position:center center;	
	background-size:cover;
	width:100%;
	height:30vw;
}
/*************************************************************/
/***************************film******************************/
/*************************************************************/
#filmwidth{
	margin:0 auto;
	width:60%;
}
/*************************************************************/
/***************************mail******************************/
/*************************************************************/
.mailitem{
	width:33%;
	float:left;
	background-color:white;
}
.mailleft{
	width:25%;
	float:left;
	background-color:white;
}
.mailright{
	width:65%;
	float:left;
	background-color:white;
}
.mailp{
	font-family: STZhongsong, SimSun, KaiTi_GB2312, Microsoft YaHei;
	font-size:1vw;
}
.mailitemlogo{
	width:4%;
	float:left;
}
/*************************************************************/
/***************************class*****************************/
/*************************************************************/
.blank6{
	background-color:#EFEFEF;
	width:100%;
	height:6vw;
}
.blank1{
	background-color:#EFEFEF;
	width:100%;
	height:1vw;
}
.mobblank0{
	background-color:#EFEFEF;
	width:0%;
	height:0vw;
}
.mobblank{
	background-color:white;
	width:0%;
	height:0vw;
}
.blank{
	background-color:white;
	width:100%;
	height:3vw;
}
.verblank{
	width:10%;
	float:left;
	background-color:white;
}
.block{
	margin:0 auto;
	width:60%;
	background-color:#EFEFEF;
}
.PCb{
}
.MOBb{
	display:none;
}
/*************************************************************/
/*************************deprecated**************************/
/*************************************************************/
/*
#imgdown{
	padding-top:2vw;
}
.edublank{
	width:5%;
	float:left;
	background-color:white;
}
.edu1{
	width:29%;
	float:left;
	background-color:white;
}
.edu2{
	width:30%;
	float:left;
	background-color:white;
}
.edu3{
	width:29%;
	float:left;
	background-color:white;
}*/
